<h1>Weather forecast</h1>

<div class="panel search">
    <input type="text" (keyup.enter)="checkWeather()" (input)="setName($event)" placeholder="City name...">
    <button (click)="checkWeather()">Show forecast</button>
</div>
<div class="panel forecast">
    <h2 *ngIf="model.geographic.name">{{model.geographic.name}} - {{model.geographic.country}}</h2>
    <ul>
        <li *ngFor="let item of model.geographic.items" class="weather-card">
            <h3>{{item.dt_txt}}</h3>
            <img src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png" alt="weather icon" data-icon>
            <p>Weather : {{item.weather[0].description}}</p>
            <p>Temperature : {{item.main.temp}} C</p>
            <p>Wind : {{item.wind.speed}} m/s</p>
            <p></p>
        </li>
    </ul>

</div>
